body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #D5D5D5;
    font-family:"Raleway" , sans-serif;
}

body.home {    
    background: url("../images/succulent.jpg");
}

/* /assets/css/images/succulent.jpg */

main {
    flex: 1 0 auto;
}
 
h1, h5 {
    color: white;
}
.btn-portfolio {
    color: #FFFFFF;
    background-color: #E6CF8B;
    border-color: #E6CF8B;
}

.btn-portfolio:hover,
.btn-portfolio:focus,
.btn-portfolio:active,
.btn-portfolio.active,
.open .dropdown-toggle.btn-portfolio {
    color: #FFFFFF;
    background-color: #C4AA5C;
    border-color: #E6CF8B;
}

.btn-portfolio:active,
.btn-portfolio.active,
.open .dropdown-toggle.btn-portfolio {
    background-image: none;
}

.btn-portfolio.disabled,
.btn-portfolio[disabled],
fieldset[disabled] .btn-portfolio,
.btn-portfolio.disabled:hover,
.btn-portfolio[disabled]:hover,
fieldset[disabled] .btn-portfolio:hover,
.btn-portfolio.disabled:focus,
.btn-portfolio[disabled]:focus,
fieldset[disabled] .btn-portfolio:focus,
.btn-portfolio.disabled:active,
.btn-portfolio[disabled]:active,
fieldset[disabled] .btn-portfolio:active,
.btn-portfolio.disabled.active,
.btn-portfolio[disabled].active,
fieldset[disabled] .btn-portfolio.active {
    background-color: #E6CF8B;
    border-color: #E6CF8B;
}

.btn-portfolio .badge {
    color: #E6CF8B;
    background-color: #FFFFFF;
}
.card {
    height: 389px;
}
#resize {
    width:500px;
}
#big{
    height: 100px;
}
#top {
     font-family:"Raleway", sans-serif;
    background-color: #96858F;
}
#bottom{
    background-color: #6D7993;
}
.icon {
    margin-left: 15px;
}
#twitter{
    
    height: 34px;
    width: 34px;
}