body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #D5D5D5
}

main {
    flex: 1 0 auto;
}
#top {
    background-color: #96858F;
}
#bottom{
    background-color: #6D7993;
}