body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #D5D5D5;
    font-family:"Raleway" , sans-serif;
}

main {
    flex: 1 0 auto;
}
#big{
    height: 100px;
}
#top {
     font-family:"Raleway", sans-serif;
    background-color: #96858F;
}
#bottom{
    background-color: #6D7993;
}
.icon {
    margin-left: 15px;
}
#twitter{
    
    height: 34px;
    width: 34px;
}